:root {
    --color-primary-pink: #ff69b4;
    --color-secondary-pink: #ffa6da;
    --color-secondary-ligth-pink: #ffe4e1;
    --color-gray-black: #949697;
    --color-gray-black: #949697;
    --color-white: #fff;
    --color-black: #333;
    --color-input-border-gray: #ccc;
    --color-input-focus: #ffb6c1;
}